body {
    background-image: url("images/fadedroad50.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}

header {
    color: #8C3826;
    background-color: #D2B48C;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #8C3826;
}

nav {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

nav a { 
    text-decoration: none; 
}

footer {
    padding: 1em;
    border-top: solid 2px #8C3826;
    background-color: #D2B48C;
    font-size: .60em;
    text-align: center;
    font-style: italic;
}

#wrapper {
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 4px 4px black;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
}

h3, dt {
    color: #8C3826;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#homehero {
    height: 300px;
    background-size: cover;
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
}